*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url(cold.png) no-repeat center/cover;
}

#weather{
	width: 350px;
	border-radius: 10px;
	padding: 30px 20px;
	background: url(cold.png) no-repeat center/cover;
}

.hot{
	background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url(hot.png) no-repeat center/cover;
}

.hot #weather{
	background: url(hot.png) no-repeat center/cover;
}

.cold{
	background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url(cold.png) no-repeat center/cover;
}

.cold #weather{
	background: url(cold.png) no-repeat center/cover;
}

.cool{
	background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url(cool.jpeg) no-repeat center/cover;
}

.cool #weather{
	background: url(cool.jpeg) no-repeat center/cover;
}

.warm{
	background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.7)), url(warm.jpeg) no-repeat center/cover;
}

.warm #weather{
	background: url(warm.jpeg) no-repeat center/cover;
}

.search{
	width: 100%;
	padding: 10px 20px;
	border: none;
	outline: none;
	background: rgba(255,255,255, 0.3);
	border-radius: 0 15px 0 15px;
	box-shadow: 0 5px 4px rgba(0,0,0,0.2);
	transition: 0.4s;
	font-size: 19px;
}

.search:focus{
	background: rgba(255,255,255, 0.7);
	border-radius: 15px 0 15px 0;
}

.content{
	text-align: center;
	color: white;
	margin: 40px 0;
	transition: 0.4s;
}

.capital{
	text-shadow: 2px 2px rgba(0,0,0,0.5)
}

.time{
	margin: 15px 0 20px 0;
	font-size: 15px;
}

.temperature{
	font-size: 65px;
	text-shadow: 4px 4px rgba(0,0,0,0.7);
	background: rgba(255,255,255, 0.4);
	box-shadow: 4px 4px rgba(0,0,0,0.5);
	border: none;
	border-radius: 10px;
	margin: 0 30px;
	padding: 20px;
}

.short-desc{
	font-size: 40px;
	font-weight: bold;
	text-shadow: 2px 2px rgba(0,0,0,0.5);;
	margin: 30px;
}

.more-desc{
	display: flex;
	justify-content: space-between;
}

.more-desc div{
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.more-desc div i {
	margin: 10px 0;
}

.hide{
	visibility: hiddend;
	opacity: 0;
}
