@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #17a2b8;
	width: 100%;
	height: 100vh;
}

.text {
	font-size: 40px;
	color: #17a2b8;
	font-weight: 500;
	background-color: #fff;
	padding: 10px 40px;
	border-radius: 12px;
}

.box {
	display: none;
}

.box.active {
	display: block;
}

#key {
	color: white;
	font-size: 70px;
	width: 250px;
	height: 250px;
	border: 7px solid white;
	border-radius: 50%;
	font-weight: 600;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 60px;
}

.detail {
	display: flex;
}

.detail .card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin: 20px;
	min-width: 300px;
	text-align: center;
	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	overflow: hidden;
	height: 100px;
}

.detail p .header {
	background-color: #78c0c9;
	color: white;
	padding: 10px;
	font-size: 19px;
}

.detail p span:last-child {
	text-transform: capitalize;
	margin-top: 10px;
	font-size: 20px;
}

.hide {
	display: none;
}