@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #8cc84c;
}

.wrapper {
	width: 500px;
	background: #fff;
	border-radius: 10px;
	padding: 18px 25px 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.06);
}

.title h2 {
	font-size: 21px;
	font-weight: 600;
}

.content ul {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin: 20px 0;
	border-radius: 5px;
	border: 1px solid #888;
}

.content ul li {
	color: #333;
	margin: 4px 3px;
	list-style: none;
	border-radius: 5px;
	background: #8cc84c;
	padding: 5px 8px 5px 10px;
	color: white;
}

.content ul li i {
	margin-left: 8px;
	font-size: 16px;
	cursor: pointer;
}

.content ul input {
	flex: 1;
	padding: 5px;
	border: none;
	outline: none;
	font-size: 16px;
}

button {
	border: none;
	outline: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	padding: 9px 15px;
	border-radius: 5px;
	background: #8cc84c;
	transition: all 0.3s ease;
}

button:hover {
	background: #7cac49;
}
