* {
    box-sizing: border-box;
  }
  
  body {
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: solid 3px black;
    background: white;
  }
  
  .fill {
    background-image: url('https://images.unsplash.com/photo-1637089827720-22f789208c71?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=464&q=80');
    height: 145px;
    width: 145px;
    cursor: pointer;
  }
  
  .dragging {
    border: solid 5px #ccc;
  }
  
  .hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
  }
  
  @media (max-width: 800px) {
    body {
      flex-direction: column;
    }
  }
  